input, select {
    font-size: 12px;
    padding: 0 10px 0 10px;
    height: 30px;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.tab-container {
    padding: 1rem;
    border: solid red 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tab-card {
    border-radius: 15px;
    background-color: #ffffffbc;
    width: 15rem;
    padding: 1.5rem 2rem 2rem 1.5rem;
}

.tab-util {
    display: flex;
    justify-content: space-around;
}



.tab-card_chord-name {
    margin: 20px 10px 20px 20px;
}

#chord-name-input {
    width: 185px;
}

.numeroCase {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.3rem;
    padding-left: 1.9rem;
    margin-bottom: 10px;

}

.fretboard-container {
    display: flex;
}

.fretboard-container_name {
    margin-top: 5px;
}

.stringName {
    padding: 9px 7px 2px 0;
    font-size: 0.8rem;
    line-height: 0.6rem;
}

.fretboard {
    border: solid rgba(110, 110, 110, 0.541) 1px;
    display: flex;
    flex-direction: column;
}

.fretboard_string {
    display: flex;
    height: 20px;
}

.note-fret {
    display: flex;
    width: 100%;
    border: 1px solid #383839;
    border-width: 0 0 2px 0;
    background-color: rgb(115, 121, 164);
    border-left: 4px solid;
}

.string {
    display: flex;
    width: 210px;

}

.string::before {
    content: "";
    height: 20px;
}

.note-fret:before {
    content: "";
}

.clicked:before {
    content: "";
    width: 15px;
    top: 50%;
    height: 15px;
    background-color: #ff4aeb;
    border-radius: 50%;
    margin: -9px auto 0;
}

.crossOrRound {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0;
}

.crossOrRound_button {
    background-color: transparent;
}